@import 'reset';

* {
	box-sizing: border-box;
}

body {
	background-color: #ffbccb;
	padding: 5%;

	.sixties{
		display: flex;
		flex-direction: column;
		.sec-one{
			position: relative;	
			.decade-six{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.twist-record{
				width: 30%;
				left: -5%;
				top: 50%;
				position: absolute;
				transform: translateX(-205px);

			}
			.twist-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}				
		.sec-two{
			position: relative;
			.tv{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.sixties-video{
				position: absolute;
				left: 20%;
				width: 48%;
				top: 19%;
				border-radius: 28px;
				height: 64%;
			}
		}
	}

	.seventies{
		display: flex;
		flex-direction: column;
		margin-top: 40%;
		.sec-one{
			position: relative;	
			.decade-seven{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.alive-record{
				width: 30%;
				left: -5%;
				top: 50%;
				position: absolute;
				transform: translateX(-205px);

			}
			.alive-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}
		.sec-two{
			position: relative;
			.tv-two{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.seventies-video{
				position: absolute;
				left: 20%;
				width: 48%;
				top: 20%;
				border-radius: 28px;
				height: 70%;
			}
		}			
	}

	.eighties{
		display: flex;
		flex-direction: row;
		margin-top: 40%;
		.sec-one{
			position: relative;	
			.decade-eight{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.beat-it-record{
				width: 40%;
				bottom: 20%;
				left: 17%;
				position: absolute;
			}
			.beat-it-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}
		.sec-two{
			position: relative;
			.tv-three{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.eighties-video{
				position: absolute;
				left: 18%;
				width: 51%;
				top: 18%;
				border-radius: 28px;
				height: 66%;
			}
		}			
	}
	

	.nineties{
		display: flex;
		flex-direction: row;
		margin-top: 40%;
		.sec-one{
			position: relative;	
			.decade-nine{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.one-more-time-record{
				width: 40%;
				bottom: 20%;
				left: 17%;
				position: absolute;
			}
			.one-more-time-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}
		.sec-two{
			position: relative;
			.tv-four{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.nineties-video{
				position: absolute;
				left: 26%;
				width: 49%;
				top: 19%;
				border-radius: 0px;
			}
		}			
	}

	.tens{
		display: flex;
		flex-direction: row;
		margin-top: 40%;
		.sec-one{
			position: relative;	
			.decade-ten{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.umbrella-record{
				width: 40%;
				bottom: 20%;
				left: 17%;
				position: absolute;
			}
			.umbrella-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}
		.sec-two{
			position: relative;
			.tv-five{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.tens-video{
				position: absolute;
				left: 15%;
				width: 70%;
				top: 13%;
				border-radius: 0px;
				height: 70%;
			}
		}			
	}


	.twenties{
		display: flex;
		flex-direction: row;
		margin-top: 40%;
		.sec-one{
			position: relative;	
			.decade-twenty{
				font-size: 15em;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
			}
			.say-so-record{
				width: 40%;
				bottom: 20%;
				left: 17%;
				position: absolute;
			}
			.say-so-record:hover{
				 transition: 0.70s;
				transform: rotate(720deg);
			}
		}
		.sec-two{
			position: relative;
			.tv-six{
				width: 70%;
				display: block;
				margin: 0 auto;
				margin-top: 5%
			}

			.twenties-video{
				position: absolute;
				left: 15%;
				width: 70%;
				top: 9%;
				border-radius: 0px;
				height: 70%;
			}
		}			
	}
	
	


	// .second-section{
	// 	position: relative;
	// 	.tv-two{
	// 		width: 50%;
	// 		display: block;
	// 		margin: 0 auto;
	// 		margin-top: 10%;
	// 	}	
	// 	.seventies-video{
	// 		position: absolute;
	// 		left: 29%;
	// 		width: 33%;
	// 		top: 5%;
	// 		border-radius: 28px;
	// 	}
	// 	.seven{
	// 		position: relative;
	// 		text-align: center;
	// 		margin-top: 10%;
			
	// 		.alive{
	// 			width: 8%;
	// 			position: absolute;
	// 			bottom: 20%;
	// 			left: 45%;
	// 		}
	// 		.beegees{
	// 			width: 15%;
	// 		}
	// 	}
	// }

	// .third-section{
	// 	position: relative;
	// 	.tv-three{
	// 		width: 50%;
	// 		display: block;
	// 		margin: 0 auto;
	// 		margin-top: 10%;
	// 	}	
	// 	.eighties-video{
	// 		position: absolute;
	// 		left: 27%;
	// 		width: 37%;
	// 		top: 6%;
	// 		border-radius: 32px;
	// 	}
	// 	.eight{
	// 		position: relative;
	// 		text-align: center;
	// 		margin-top: 10%;
			
	// 		.beat-it{
	// 			width: 8%;
	// 			position: absolute;
	// 			bottom: -8%;
	// 			left: 48%;
	// 		}
	// 		.michael{
	// 			width: 15%;
	// 		}
	// 	}
	// }


	// .fourth-section{
	// 	position: relative;
	// 	.tv-four{
	// 		width: 50%;
	// 		display: block;
	// 		margin: 0 auto;
	// 		margin-top: 10%;
	// 	}	
	// 	.ninties-video{
	// 		position: absolute;
	// 		left: 33%;
	// 		width: 35%;
	// 		top: 6%;
	// 	}
	// 	.nine{
	// 		position: relative;
	// 		text-align: center;
	// 		margin-top: 10%;
			
	// 		.one-more{
	// 			width: 8%;
	// 			position: absolute;
	// 			bottom: -8%;
	// 			left: 48%;
	// 		}
	// 		.britney{
	// 			width: 15%;
	// 		}
	// 	}
	// }
	
	// .fifth-section{
	// 	position: relative;
	// 	.tv-five{
	// 		width: 49%;
	// 		display: block;
	// 		margin: 0 auto;
	// 		margin-top: 10%;
	// 	}	
	// 	.ohs-video{
	// 		position: absolute;
	// 		left: 25.6%;
	// 		width: 49%;
	// 		top: 3.6%;;
	// 	}
	// 	.tens{
	// 		position: relative;
	// 		text-align: center;
	// 		margin-top: 10%;
			
	// 		.umbrella{
	// 			width: 8%;
	// 			position: absolute;
	// 			bottom: -8%;
	// 			left: 48%;
	// 		}
	// 		.rihanna{
	// 			width: 15%;
	// 		}
	// 	}
	// }
}





















